<P>
  <strong>著名评论家:</strong>
  <%= comment.commenter %>
</P>
<p>
  <strong>牛评：</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to '删除评论',[comment.article,comment],method: :delete,data: { confirm:'你确定吗？'} %>
</p>