<h1>Listing articles</h1>

<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>